*.env
.env
TinyChemVL/
.venv/
AccFG/
fgbench/
KnowMol/
*.pdf
__pycache__
data/
TDC_Tox_datasets/
ADD_TDC_DATA.ipynb
analyze_fg_isomers.py
check_all_qas.ipynb
FDA_DI_merge.ipynb
FDA_DI_preprocess.ipynb
merge_preprocess.ipynb
scaffold_sim/
Raw_data/
models/
modality/
DeToxVLM/
*.md
molecularACE_ver/sim_matrices/
molecularACE_ver/sim_matrices/**/*.npz

molecularACE_ver/metabolism_ver/sim_matrices/
molecularACE_ver/sim_matrices/
*.npz